<div class="single-article">
	<h2><%= @article.title %></h2>

	<a href='<%= @article.web_url %>'>Article URL</a>

	<p><%= @article.author %></p>
	<p><%= @article.comments %></p>

	<% alchemyapi = AlchemyAPI.new() %>
	<% response = alchemyapi.sentiment("url", @article.web_url) %>
	<%= response["docSentiment"]["type"] %>
	<br>

	<%= link_to 'Delete Article', article_path(@article), method: :delete %>

</div>