<div class="article-show">
	<div class="single-article">
	<h2><%= @article.title %></h2>

	<a href='<%= @article.web_url %>'>Article URL</a>

	<p><%= @article.author %></p>
	<p><%= @article.comments %></p>

	<% alchemyapi = AlchemyAPI.new() %>
	<% response = alchemyapi.entities("url", @article.web_url, {'sentiment'=>1}) %>
	
	<% if response['status'] == 'OK' %>
	<% JSON.pretty_generate(response) %>

	<% response = response['entities'] %>
	<% responseParse = response.map do |data| %>
	 <% { type: data['type'],
	 			relevance: data['relevance'],
	 			sentiment: data['sentiment'],
	 			count: data['count'],
	 			text: data['text'] } %>
	<% end %>
	<% end %>

	<%= responseParse %>

	
	<br>
	<br>
	


	<%= link_to 'Delete Article', article_path(@article), method: :delete %>
	</div>
</div>