<!DOCTYPE html>
<html>
<head>
  <title>WebPortalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <%= csrf_meta_tags %>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
      <% if current_user %>
          </button>
          <a class="navbar-brand page-scroll" 
          <%= link_to 'Home', user_path(current_user) %><span class="light"></a>
      <% end %>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
         	<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden">
           	<a href="#page-top"></a>
          </li>
          <li>
         		<a class="page-scroll" 
         		<%= link_to 'Log In', sessions_new_path %></a>
          </li>
          <li>
          	<a class="page-scroll"
          	<%= link_to 'Log Out', sessions_path, method: :delete %></a>
          </li>
          <li>
            <a class="page-scroll"
            <%= link_to 'Sign Up', new_user_path %></a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
      </div>
        <!-- /.container -->
    </nav>

<%= yield %>

</body>
</html>
